i {
    padding-left: 10px;
    font-size: 30px;
}

h1 {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 72%, rgba(2,0,36,1) 100%);
}

.result {
    padding: 10px;
    margin: 10px;
}

.forecast {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    padding: 10px;
    width: 150px;

}

.search {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    display: flex;
}

.city-box {
    margin-left: 20px;
}